* {
    font-family: "Dekko", cursive;
}
b {
    font-size: 20px;
    color: #6f5be3;
    margin-top: 16px;
    margin-bottom: 16px;
}

p {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px; 
}